<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 m-3">
            <div class="bg-light rounded p-2">
                <div class="d-flex justify-content-center">
                    <div style="width: 190px;height: 190px;flex-direction: column;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;;" class="border my-3 d-flex justify-content-center  border-success rounded-circle" >
                        <h1 class="text-center text-success"  >1.0000</h1>
                    </div>
                </div>
                <div class="d-flex justify-content-between" style="gap: 10px;">
                    <div class="text-center rounded py-1" id="pendapatan" style="width: 100%;background-color: #9CFF2E;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;"><i class="bi bi-wallet2"></i> Pendapatan</div>
                    <div class="text-center rounded py-1" id="penghasilan" style="width: 100%;background-color: #FDFF00;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;"><i class="bi bi-coin"></i> Penghasilan</div>
                </div>
                <div class="mt-3 rounded p-2" style="background-color: #917FB3;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="d-flex justify-content-end">
                        <button class="badge bg-danger border-0 mx-2" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;"><i class="bi bi-list-nested"></i> 2</button>
                        <button class="badge bg-primary border-0 " id="perbaiki" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;"><i class="bi bi-tools"></i> Perbaiki</button>
                        <button class="badge bg-success border-0 ms-2" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;" data-bs-toggle="modal" data-bs-target="#modalCreate"><i class="bi bi-plus-lg"></i> Tambah</button>
                    </div>
                    <div class="rounded mt-2 px-2 pb-1 d-flex justify-content-between" style="background-color: #68B984;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                        <h6 class="my-1">Ngater Galon</h6>
                        <h6 class="kontenKiri text-light my-1"><i class="bi bi-arrow-up"></i>Rp3.000</h6>
                    </div>
                    <div class="rounded mt-2 px-2 pb-1 d-flex justify-content-between" style="background-color: #F15A59;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                        <h6 class="my-1">Galon Murag</h6>
                        <h6 class="kontenKiri text-light my-1"><i class="bi bi-arrow-down"></i></i>Rp3.000</h6>
                    </div>
                    <% for(pendapatans of pendapatan) { %>
                    <div class="rounded mt-2 px-2 pb-1 d-flex justify-content-between" style="background-color: #68B984;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                        <h6 class="my-1"><%= pendapatans.kegiatan %></h6>
                        <h6 class="kontenKiri text-light my-1"><i class="bi bi-arrow-up"></i></i><%= Number(pendapatans.pendapatan).toLocaleString("id-ID",{style:"currency",currency:"IDR"}) %></h6>
                    </div>                                                                                                            
                    <% } %>
                </div>
            
            </div>
        </div>
    </div>
</div>


  <!-- Modal Buat -->
  <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body rounded">
            <form method="post" action="/home" id="formCreate" >
              <h3 class="text-center mb-3">Buat Pendapatan</h3>
                <div class="mb-3">
                  <label for="kegiatan" class="fw-bold form-label"><i class="bi bi-activity"></i> Kegiatan</label>
                  <input type="text" name="kegiatan" required class="form-control" id="kegiatanCreate" >
                  <div id="note" class="form-text">Maksimal 10 huruf</div>
                </div>
                <div class="mb-3">
                  <label for="pendapatan" class="fw-bold form-label"><i class="bi bi-cash"></i> Pendapatan</label>
                  <input type="number" required name="pendapatan" class="form-control" id="pendapatanCreate" >
                </div>
                <h6 class="text-dark fw-bold"><i class="bi bi-question-lg"></i> Opsi</h6>
                <button style="width: 100%;" type="button" data-opsi="untung" class="submitCreate btn btn-success mb-1"><i class="bi bi-graph-up"></i> Keuntungan</button>
                <button style="width: 100%;" type="button" data-opsi="rugi" class="submitCreate btn btn-danger"><i class="bi bi-graph-down"></i> Kerugian</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body rounded">
            <form>
              <h3 class="text-center mb-3">Ubah Pendapatan</h3>
                <div class="mb-3">
                  <label for="kegiatan" class="fw-bold form-label"><i class="bi bi-activity"></i> Kegiatan</label>
                  <input type="text" required class="form-control" id="kegiatan" >
                  <div id="note" class="form-text">Maksimal 10 huruf</div>
                </div>
                <div class="mb-3">
                  <label for="pendapatan" class="fw-bold form-label"><i class="bi bi-cash"></i> Pendapatan</label>
                  <input type="number" required class="form-control" id="pendapatan" >
                </div>
                <h6 class="text-dark fw-bold"><i class="bi bi-question-lg"></i> Opsi</h6>
                <button style="width: 100%;" class="btn btn-success mb-1"><i class="bi bi-graph-up"></i> Keuntungan</button>
                <button style="width: 100%;" class="btn btn-danger"><i class="bi bi-graph-down"></i> Kerugian</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Hapus -->
  <div class="modal fade" id="modalHapus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body rounded">
          <small style="text-align: center;">Jika anda menghapus ini maka akan mempengaruhi isi tabungan</small>
            <div class="d-flex mt-3 justify-content-between">
              <button class="btn btn-danger" data-bs-dismiss="modal" style="width: 49%;" >Batal</button>
              <button class="btn btn-success" style="width: 49%;" >Yakin</button>
            </div>
          </div>
      </div>
    </div>
  </div>

<script src="home.js" ></script>