<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="border border-rounded bg-light shadow p-3 rounded">
                <h1 class="mb-3 text-center" style="color: #263A29;" >Login</h1>
                <form action="/login" method="post" >
                    <div class="mb-3">
                      <label for="email" class="form-label"><small>Email address</small></label>
                      <input type="email" name="email"  required class="form-control" id="email" >
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label"><small>Password</small></label>
                      <input type="password" name="password" required class="form-control" id="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="remember" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember Me</label>
                    </div>
                        <div class="d-flex justify-content-center mt-3" style="flex-direction: column;">
                            <button type="submit" class="btn text-light fw-bold" style="background-color: #E86A33;" >Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>